@basic-table-img-prefix-cls: ~'@{ent-prefix}-basic-table-img';

.@{basic-table-img-prefix-cls} {
  .ant-image {
    margin-right: 4px;
    cursor: zoom-in;

    img {
      border-radius: 2px;
    }
  }

  .img-div {
    display: inline-grid;
  }
}
