shamefully-hoist=true
git-checks=false
strict-peer-dependencies=false
shell-emulator=true
registry=https://packages.aliyun.com/61c2d90afa282c88e103ce10/npm/npm-registry/
#registry=https://registry.npmjs.org/
#hoistPattern[]=!naive-ui
